In [98]:
import pandas as pd

In [73]:
df = pd.read_csv("C:\\Users\\patri\\OneDrive\\Documents\\PYthon course\\files\\GamingCompanies-Main.csv")
df.info
df.head()

,Name,marketcap,earnings,employeeCount,OperatingMargin,PERatio,Revenue,country
0,11 bit studios,2.600171e+08,8147710,192,4583.070,40.8881,1.777785e+07,Poland
1,Activision Blizzard,5.835960e+10,2972000000,9500,3582.020,23.4717,8.297000e+09,United States
2,Appirits,3.008261e+07,1591300,411,372.253,31.0000,4.274776e+07,Japan
3,Aristocrat,1.551363e+10,778411000,7000,2266.820,14.2970,3.433941e+09,Australia
4,ATARI,4.923000e+07,-13476800,26,-6296.300,-3.0000,2.140430e+07,France

In [96]:
data_partial = pd.DataFrame(df, columns=['Name', 'earnings', 'employeeCount'])
print(data_partial)

                   Name    earnings  employeeCount
0        11 bit studios     8147710            192
1   Activision Blizzard  2972000000           9500
2              Appirits     1591300            411
3            Aristocrat   778411000           7000
4                 ATARI   -13476800             26
..                  ...         ...            ...
74       Unity Software  -590918000           4934
75       Versus Systems   -11545800              0
76               Webzen           0              0
77               Wemade           0              0
78         WonderPlanet    -1386590              0

[79 rows x 3 columns]

In [107]:
sort = data_partial.sort_values('earnings', ascending = True)
print(sort)

                   Name     earnings  employeeCount
61         Sea (Garena)  -1576240000          33800
74       Unity Software   -590918000           4934
58               Roblox   -513802000              0
25             GameStop   -368500000          12000
63               Skillz   -285794000            277
..                  ...          ...            ...
1   Activision Blizzard   2972000000           9500
48             Nintendo   6022310000           6574
64                 Sony  10806300000         109700
71              Tencent  39673900000         112771
38            Microsoft  84754000000         181000

[79 rows x 3 columns]

                   Name  MarketCap
0        11 bit studios        NaN
1   Activision Blizzard        NaN
2              Appirits        NaN
3            Aristocrat        NaN
4                 ATARI        NaN
..                  ...        ...
74       Unity Software        NaN
75       Versus Systems        NaN
76               Webzen        NaN
77               Wemade        NaN
78         WonderPlanet        NaN

[79 rows x 2 columns]

In [125]:
country_dataframe = pd.DataFrame(df, columns=['Name', 'country'])
print(country_dataframe)

                   Name        country
0        11 bit studios         Poland
1   Activision Blizzard  United States
2              Appirits          Japan
3            Aristocrat      Australia
4                 ATARI         France
..                  ...            ...
74       Unity Software  United States
75       Versus Systems         Canada
76               Webzen    South Korea
77               Wemade    South Korea
78         WonderPlanet          Japan

[79 rows x 2 columns]

In [143]:
country_list = country_dataframe.drop_duplicates(subset=["country"])
print(country_list.head())

                  Name        country
0       11 bit studios         Poland
1  Activision Blizzard  United States
2             Appirits          Japan
3           Aristocrat      Australia
4                ATARI         France

In [144]:
import matplotlib.pyplot as plt
country_single(kind="bar")
plt.show()

TypeError: 'DataFrame' object is not callable